.titulo {
	text-align: center;
	color: white;
}

table {
	text-align: center;
}

tr,
td,
thead,
th,
table {
	border: 2px solid rgb(69, 69, 69);
}

table {
	width: 100%;
}

td {
	padding-left: 15px;
	padding-right: 15px;
}

#cont-table {
	padding: 40px;
}
#cont-btn-crear-usuario {
	padding-top: 20px;
	padding-left: 46.5%;
	padding-bottom: 50px;
}
