#titulo-principal {
	color: crimson;
	text-align: center;
}
#subtitulo-1 {
	text-align: center;
	color: darkgreen;
}
#subtitulo-2 {
	text-align: center;
	color: darkgreen;
}
.justificado {
	text-align: justify;
}
