#titulo {
	color: white;
}

td,
th,
table {
	border: 1.5px solid rgb(83, 83, 83);
	padding-left: 15px;
	padding-right: 15px;
	text-align: center;
}
table {
	padding: 0px;
	width: 100%;
}
#section-table-users {
	padding: 40px;
}
#cont-btn-crear-usuario {
	padding-left: 45%;
}
